In [116]:
import pandas as pd 
import numpy as np
import keras as k
import matplotlib.pyplot as plt
import keras_tuner as kt


import warnings
warnings.filterwarnings("ignore")

In [135]:
data = pd.read_csv("auto+mpg/auto-mpg.data-original", delimiter="\t", header=None)

In [136]:
columns = ["mpg","cylinders","displacement","horsepower","weight",
    "acceleration","model_year","origin"
    ]

In [137]:
data = data.drop(columns=1)

In [138]:
test = data[0].str.split(" ", expand=True)

In [139]:
data = test[[0,3,6,12,18,24,27,29]]

In [140]:
data.columns = columns

In [141]:
data = data.drop(columns="origin")

In [142]:
data.head()

    mpg cylinders displacement horsepower weight acceleration model_year
0  18.0        8.        307.0      130.0  3504.         12.0        70.
1  15.0        8.        350.0      165.0  3693.         11.5        70.
2  18.0        8.        318.0      150.0  3436.         11.0        70.
3  16.0        8.        304.0      150.0  3433.         12.0        70.
4  17.0        8.        302.0      140.0  3449.         10.5        70.

In [143]:
data.describe()

         mpg cylinders displacement horsepower weight acceleration model_year
count    406       406          406        406    406          406        406
unique   130         6           83         95    347           93         22
top     13.0        4.        97.00      150.0                14.5        73.
freq      20       204           21         22     14           23         40

In [148]:
data = data.drop_duplicates()

In [160]:
data[["cylinders","weight", "model_year"]] = data[["cylinders","weight", "model_year"]].astype(str).apply(lambda x: x.str.strip("."))

In [176]:
data = data.replace("NA", np.nan).replace("", np.nan)

In [178]:
data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    7
model_year      7
dtype: int64

In [179]:
data = data.dropna()

In [180]:
data = data.astype("float")

In [187]:
data.reset_index(inplace=True)

In [188]:
data

,index,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0
1,1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0
2,2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0
3,3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0
4,4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0
...,...,...,...,...,...,...,...,...
380,401,27.0,4.0,140.0,86.0,2790.0,15.6,82.0
381,402,44.0,4.0,97.0,52.0,2130.0,24.6,82.0
382,403,32.0,4.0,135.0,84.0,2295.0,11.6,82.0
383,404,28.0,4.0,120.0,79.0,2625.0,18.6,82.0
384,405,31.0,4.0,119.0,82.0,2720.0,19.4,82.0